/* You can add global styles to this file, and also import other style files */
app-root {
  height: 100%;
}

html, body {
  height: 100%;
}

.datatable-body-cell
{
   display: flex !important;
   align-items: center !important;
}

.ngx-datatable.bootstrap .datatable-header {
  width:fit-content !important;
}
