<div class="container">

<h2>About FAANG</h2>

<p>Functionnal Annotation of the Animal Genome (<a href="https://www.faang.org/">FAANG</a>)
is an open consortia, notably gathering transcriptomic and epigenomic data in farm
animal species.
FAANG data is available on the FAANG data portal:
<a href="https://data.faang.org/">data.faang.org</a>.
</p>

<h2>Visualisations of FAANG data</h2>

<p>This web applications offers visualisations of FAANG data. Sample-sample correlation heatmaps
allow the exploration of the various FAANG datasets. Epigenetic stacks allow the
visual inspection of epigenetic profiles (ChIP-seq, ATAC-seq) at peaks, to visualy
investigate the strenghts of the signals, or at gene promoters, to investigate
the associations between epigenetic mark and gene expression levels.
</p>

<h3>Correlation matrices</h3>

<h3>Epigenetic profiles</h3>

<h3>Processed data and QC</h3>

<h3>Source code</h3>
<p>
The web application source code is available on a public GitLab instance:
<a href="https://forgemia.inra.fr/laura.morel/vizfada-app">forgemia.inra.fr/laura.morel/vizfada-app</a>.

FAANG data processing was done using Nextflow pipeline:
<a href="https://github.com/lauramble/rnaseq-vizfada">github.com/lauramble/rnaseq-vizfada</a>,
and <a href="https://github.com/lauramble/chipseq_vizfada">github.com/lauramble/chipseq_vizfada</a>.
</p>

<h2>Funding</h2>

VizFaDa is funded by an Open Science Grant from ANR.

The FAANG data portal is supported by the H2020 awards to AquaFAANG
(grant no. 817923), GENE-SWitCH (grant no. 817998) and BovReg (grant no. 815668)
and the EMBL.

</div>
